# Default ignored files
/../../AJ_Atelier_10./.idea/shelf/
/../../AJ_Atelier_10./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AJ_Atelier_10./.idea/httpRequests/
# Datasource local storage ignored files
/../../AJ_Atelier_10./.idea/dataSources/
/../../AJ_Atelier_10./.idea/dataSources.local.xml
